h1 {
  margin-left: 100px;
}

/*.logo {
  float: right;
  height: 100px;
  width: 20%;
  margin-right: 100px;
  margin-bottom: 100px;
}*/

h2 {
  text-align: center;
}

span {
  font-size: 4em;
  color: #0000FF;
}

span b {
    font-family: cursive;
    color: #FF0000;
}

body {
  background-color: #D3D3D3;
}


/*circles should have a blue background */
#circle {
  background-color: #0000FF;
}

.circle {
  float: left;
}

/*squares should have a red background*/
#square {
  background-color: #FF0000;
}

.square {
  float: right;
}

/*each time the page is loaded, a new set of shapes should be generated*/
